<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" href="css/common.css">-->
<th:block th:replace="fragment/common :: html-head"></th:block>
<th:block th:replace="fragment/common :: header"></th:block>


    <body>


        <h4></h4>
        <a href="/view/info"><i>회원이 신고한 목록</i></a>
        <h4></h4>
        <a href="/view/loading"><i>로딩창 테스트</i></a>
        <h4></h4>
        <a href="/view/VoiClaReq"><i>신고하기</i></a>
        <h4></h4>

        <h4>dev</h4>
        <h4></h4>
        <a href="/test/addVoi"><i>통화 테이블에 임시 데이터 추가하기</i></a>
        <h4></h4>


<!--        <th:block th:if="${cookie != null}">-->
<!--            <div th:text="${cookie}"></div>-->
<!--        </th:block>-->

        <h4></h4>
        <th:block th:replace="fragment/common :: footer"></th:block>
    </body>
</html>

