<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="/layout/header.html :: fragment-header"></th:block>
    <style>
        h2 {
            text-align: center;
        }

    </style>
</head>
<div th:replace="/layout/nav.html :: fragment-nav"></div>
<body>
<div class="container" style="max-width: 1100px">
    <div class="py-5 text-center">
        <h2>🔍재학습 결과 내역🔍</h2>
    </div>
    <br>
    <div align="right">💡1:보이스피싱 의심 0:정상통화</div>

    <!--  검색창-->
    <!--  <div>-->
    <!--    <form th:object="${SearchForm}" method="POST" style="display: flex; justify-content: flex-end; padding: 10px 0;">-->
    <!--       <input type="date" th:field="*{start}">-->
    <!--        ~ <input type="date" th:field="*{end}">-->
    <!--      <select th:field="*{searchType}">-->
    <!--        <option value="username">작성자</option>-->
    <!--        <option value="declaration">신고된 번호</option>-->
    <!--      </select>-->
    <!--      <input th:field="*{searchType}" type="text" placeholder="검색어를 입력하세요"/>-->
    <!--      <input type="submit" value="검색"/>-->
    <!--    </form>-->

    <!--  </div>-->

    <hr class="my-4">
    <div align="center">
        <table class="table table-hover table-fixed">
            <thead>
            <tr>
                <th class="text-center">No</th>
                <th class="text-center">파일명</th>
<!--                <th>작성자</th>-->
                <th class="text-center">신고된 번호</th>
                <th class="text-center">AI판별값</th>
                <th class="text-center">AI확률</th>
                <th class="text-center">관리자판별값</th>
                <th class="text-center">변조여부</th>
                <th class="text-center">🗸재학습결과</th>
                <th class="text-center">🗸수정일</th>
                <th class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="voicedata : ${voicedatas}">
                <td align="center" th:text="${voicedata.id}">No.</td>
                <td align="center"><a th:href="@{/voice/retrain/{id}(id=${voicedata.getId()})}" th:text="${voicedata.audio_file}"></a></td>
<!--                <td th:text="${voicedata.getUser.userid}">작성자</td>-->
                <td align="center" th:text="${voicedata.declaration}">신고된 번호</td>
                <td align="center" th:text="${voicedata.disdata}">AI판별값</td>
                <td align="center" th:text="${voicedata.persent}">AI확률</td>
                <td align="center" th:text="${voicedata.admindata}">관리자판별값</td>
                <td align="center" th:text="${voicedata.mfcc}">변조여부</td>
                <td align="center" th:text="${voicedata.reroll}">재학습결과</td>
                <td align="center" th:text="${voicedata.modified_date}">재학습날짜</td>
                <td>
                    <button class="btn btn-primary" onclick="updateRequest()">적용하기</button>
                    <script src="/js/updateRequest.js"></script>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--처음,끝이 아닐 때-->
    <div th:if="!${voicedatas.last} and !${voicedatas.first}">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link"
                                     th:href="@{?page={num}(num=${voicedatas.getNumber()-1})}">이전</a>
            </li>
            <li class="page-item"><a class="page-link"
                                     th:href="@{?page={num}(num=${voicedatas.getNumber()+1})}">다음</a>
            </li>
        </ul>
    </div>

    <!--처음,끝일 때-->
    <div th:unless="!${voicedatas.last} and !${voicedatas.first} and ${voicedatas > 1}">
        <!--첫 페이지 일때-->
        <div th:if="${voicedatas.first}">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled"><a class="page-link"
                                                  th:href="@{?page={num}(num=${voicedatas.getNumber()-1})}">이전</a>
                </li>
                <li class="page-item"><a class="page-link"
                                         th:href="@{?page={num}(num=${voicedatas.getNumber()+1})}">다음</a>
                </li>
            </ul>
        </div>
        <!--끝 페이지 일 때-->
        <div th:unless="${voicedatas.first}">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link"
                                         th:href="@{?page={num}(num=${voicedatas.getNumber()-1})}">이전</a>
                </li>
                <li class="page-item disabled"><a class="page-link"
                                                  th:href="@{?page={num}(num=${voicedatas.getNumber()+1})}">다음</a>
                </li>
            </ul>
        </div>
    </div>

    <div align="right">
        <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
    </div>
</div> <!-- /container -->
<footer th:replace="/layout/footer.html :: fragment-footer"></footer>
</body>
</html>