<div class="pagination justify-content-center">
  {{#hasPrev}}
  <a th:href="@{/?page=${previous}}" th:class="btn btn-lg bi bi-caret-left-square-fill"></a>
  {{/hasPrev}}
  {{^hasPrev}}
  <a th:href="@{/?page=${previous}}" th:class="btn btn-lg bi bi-caret-left-square-fill disabled"></a>
  {{/hasPrev}}

  {{#hasNext}}
  <a th:href="@{/?page=${next}}" th:class="btn btn-lg bi bi-caret-right-square-fill"></a>
  {{/hasNext}}
  {{^hasNext}}
  <a th:href="@{/?page=${next}}" th:class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>
  {{/hasNext}}
</div>