<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<div th:fragment="fragment-nav">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/">ZeroBase::보이스피싱탐지</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 로그인 상태 -->
        <div sec:authorize="isAuthenticated()">
            <!--관리자 페이지-->
            <div sec:authorize="hasRole('ADMIN')">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/admin">관리자 페이지</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/updateForm">회원정보</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/voice/list">데이터 조회🌈</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/user/updateForm">회원정보👥</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">로그아웃👋🏼</a>
                    </li>
                </ul>
            </div>
        </div>

        <div sec:authorize="isAuthenticated()">
            <!--관리자 페이지-->
            <div sec:authorize="hasRole('USER')">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/voice/list">데이터 조회🌈</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/updateForm">회원정보👥</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">로그아웃👋🏼</a>
                    </li>
                </ul>
            </div>
        </div>


        <!-- 비로그인 상태 -->
        <div sec:authorize="isAnonymous()">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/auth/loginForm">로그인 🔐</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/joinForm">회원가입 👋🏼</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
</div>
</html>